{:paths ["src" "portfolio" "resources"]
 ;; :deps {org.clojure/clojure {:mvn/version "1.12.0"}
 ;;        org.clojure/test.check {:mvn/version "1.1.1"}
 ;;        org.clojure/clojurescript {:mvn/version "1.11.132"}
 ;;        }
 :aliases
 {:cljs {:extra-deps {;; Replicant - UI library
                      no.cjohansen/replicant {:mvn/version "2025.03.02"}
                      cjohansen/gadget-inspector {:mvn/version "0.2023.04.12"}
                      ;; Logging
                      com.taoensso/telemere {:mvn/version "1.0.0-RC5"}
                      ;; ... prettify logging
                      io.github.paintparty/bling {:mvn/version "0.4.2"}
                      ;; CSP (Communicating Sequential Processes)
                      ;; ... see https://funcool.github.io/promesa/latest/channels.html
                      funcool/promesa {:mvn/version "11.0.678"}
                      ;; Schema
                      metosin/malli {:mvn/version "0.17.0"}
                      ;; Routing
                      metosin/reitit {:mvn/version "0.7.2"}
                      ;; State management
                      clj-statecharts/clj-statecharts {:mvn/version "0.1.7"}
                      ;; Business domain data storage -- frontend and backend
                      ;; ... datascript for frontend db
                      datascript/datascript {:mvn/version "1.7.4"}
                      ;; Icons
                      no.cjohansen/phosphor-clj {:mvn/version "2024.07.31"}
                      no.cjohansen/fontawesome-clj {:mvn/version "2024.01.22"}
                      ;; String formatting
                      funcool/cuerdas {:mvn/version "2023.11.09-407"}}}
  :dev {:extra-paths ["dev/src" "test/src" "portfolio/src"]
        ;; N.B. the shadow-cljs mvn version here needs to match the npm version in package.json
        :extra-deps {thheller/shadow-cljs {:mvn/version "2.28.21"
        ;;=== BEGIN FLOWSTORM ADDITIONS ====
                                           :exclusions [org.clojure/clojurescript]}
                     com.github.flow-storm/clojurescript {:mvn/version "1.11.132-8"}
                     com.github.flow-storm/flow-storm-inst {:mvn/version "4.2.0"}
        ;;=== END FLOWSTORM ADDITIONS ====
                     binaryage/devtools {:mvn/version "1.0.7"}
                     cider/cider-nrepl {:mvn/version "0.52.1"}
                     refactor-nrepl/refactor-nrepl {:mvn/version "3.10.0"}
                     ;; Component development (like js Storybook)
                     no.cjohansen/portfolio {:mvn/version "2025.01.28"}}

        ;;=== BEGIN FLOWSTORM ADDITIONS ====
        :classpath-overrides {org.clojure/clojurescript nil}
        :jvm-opts ["-Dcljs.storm.instrumentOnlyPrefixes=connect,stack"
                   "-Dcljs.storm.instrumentEnable=true"
                   "-Dflowstorm.startRecording=false"]
        ;;=== END FLOWSTORM ADDITIONS ====
        }}}
